@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=DM+Serif+Display&display=swap');
@import 'primevue/resources/themes/lara-light-blue/theme.css'; // includes '~primevue/resources/themes/nova/theme.css'
@import 'layout.scss';
@import 'tenantuiComponents.scss';
@import 'primevueOverrides/primevueOverrides.scss';
@import 'toast.scss';

// General HTML
html,
body,
#app {
  height: 100vh;
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
}

p { 
  font-family: 'DM Sans', sans-serif;
}

h1 {
  font-size: 1.8em;
  line-height: 1.1;
}

a {
  font-family: 'DM Sans', sans-serif;
  color: $tenant-ui-link-color;
}
